#map {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

#map canvas {
  position: relative;
}

#info {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left:5px;
  margin-bottom:5px;
}