#map {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border: 3px solid #fff;
  border-radius:100px;
  overflow: hidden;
}

#map canvas {
  position: relative;
}

#info {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left:5px;
  margin-bottom:5px;
}