body {
   background-color: #cccccc;
   font-family: "Verdana";
}

/* GAME */
#action-text {
   position:absolute;
   top:150px;
   left:0;
   width: 100%;
}
   #action-text p {
      position: absolute;
      width: 100%;
      color: #fff;
      font-size: 24px;
      text-align: center;
   }


#game_init_container {
   position: absolute;
   bottom:0;
   left:0; 
   width: 100%;
   max-height: 50%;
   overflow: auto;
 }
   #game_init_container img {
   width: 100%;
   }
   #player_submit_container {
   width: 100%;
   background: #ddd;
   border: none;
   } 
   #player_id_text {
   width: 65%;
   padding: 10px;
   margin: 10px;
   border: none;
   color: #6A49AC;
   border-radius: 3px;
   }
   #player_id_submit {
   width: 25%;
   float: right;
   padding: 10px;
   margin: 10px;
   border: none;
   background: #6A49AC;
   color: #fff;
   border-radius: 3px;
   }

/*  */

#button_doubleup {
   position:fixed; 
   bottom: 20px; 
   right: 5%;
}

.button_img{
   height: 15vw; 
   max-height: 100px;
}

#button_one{
   position:fixed;
   bottom: 20px;
   right: 56%;
   display: none;
}

#button_two{
   position:fixed;
   bottom: 20px;
   right: 39%;
   display: none;
}

#button_three{
   position:fixed;
   bottom: 20px;
   right: 22%;
   display: none;
}