body {
   background-color: #cccccc;
   font-family: "Verdana";
}

/* GAME */
#action-text {
   position:absolute;
   top:150px;
   left:0;
   width: 100%;
}
   #action-text p {
      position: absolute;
      width: 100%;
      color: #fff;
      font-size: 24px;
      text-align: center;
   }


#game_init_container {
   position: absolute;
   bottom:0;
   left:0; 
   width: 100%;
   overflow: auto;
   z-index: 99;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
 }
   #game_init_container img {
      width: 100%;
   }
   #player_registration_container {
      width: 100%;
      background: #ddd;
      border: none;
      padding: 10px 0;
      
   } 
      #player_name {
      display: block;
      width: 90%;
      padding: 10px;
      margin: 0 auto 10px;
      border: none;
      color: #6A49AC;
      border-radius: 3px;
      }
      #player_model {
         display: block;
         width: 90%;
         margin: 10px auto;
         border-radius: 3px;
         border: none;
         padding: 5px;
      }
      #player_color {
         display: block;
         width: 90%;
         padding: 5px;
         border-radius: 3px;
         border: none;
         margin: 10px auto;
      }
      #submit_player_registration {
         display: block;
         width: 90%;
         padding: 10px;
         margin: 10px auto 0;
         border: none;
         background: #6A49AC;
         color: #fff;
         border-radius: 3px;
      }

/* Epic 2 */
#gps_input_container {
   display: block;
   position: absolute;
   max-height: 45%;
   bottom: 0;
   left: 0;
   width: 100%;
   background: #ddd;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
   z-index: 99;
}
   #gps_input_container p {
      text-align: center;
      font-style: italic;
      color: #666;
      margin: 0.5em 0;
   }
   #gps_input_container .close {
      display: block;
      background: #cbcbcb;
      width: 20%;
      padding: 4px 8px;
      margin:  0 7.5% 10px auto;
      border-radius: 99px;
      text-align: center;
      border:none;
      font-size: 0.9em;
   }
   #text_input_wrap {
      display: block;
      float: left;
      width: 50%;
   }
      .input_gps_coords {
         display: block;
         border: 1px solid #ccc;
         width: 85%;
         margin: 10px auto;
         padding: 2.5% 2.5%;
         border-radius: 3px;
      }
   #submit_wrap {
      display: block;
      float: right;
      width: 50%;
   }
      .submit_coords {
         display: block;
         border: none;
         width: 85%;
         margin: 10px auto;
         padding: 2.5% 2.5%;
         border-radius: 99px;
      }
      #submit_gps_coords {
         color: #F1E9EE;
         background: #762A59;
      }
      #submit_current_position {
         color: #EAE6EF;
         background: #350865;
      }

/* UI  */

#ui_wrap {
   z-index: 1;
}

#info_button {
   display:block;
   position:fixed; 
   bottom: 20px; 
   left: 5%;
   z-index: 1;
}
   #info_content {
      position: fixed;
      overflow: scroll;
      background: #fefefe;
      top: 0;
      left:0;
      width: 100%;
      max-height: 40%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
   }
      #info_content h3 {
         text-align: center; 
      }
      #info_content p {
         padding: 0 10px;      
      }
      #info_content ol {
         padding-right: 10px;      
      }
      #info_content li {
         margin-bottom: 10px;         
      }
      #close_info {
         background: #ddd;
         display: block;
         margin: 0 auto 20px;
         padding: 5px 15px;
         border: none;
         border-radius: 999px;
      }
      #scroll_indicator {
         position: sticky;
         bottom: 10px;
         margin: 0 auto;
         display: none;
         background: rgba(184, 51, 139, 0.99);
         color: #fff;
         padding: 4px 8px;
         width: 5%;
         text-align: center;
         border-radius: 99px;
         box-shadow: 0 0 5px rgba(0,0,0,0.5);
         font-size: 1.2rem;
      }


#toggle_button {
   display:block;
   position:fixed; 
   bottom: 20px; 
   right: 5%;
   z-index: 1;
}

   .button_img {
      height: 15vw; 
      max-height: 100px;
   }
#toggle_content {
   z-index: 2;
}

   #button_one{
      position:fixed;
      bottom: 20px;
      right: 56%;
      display: none;
   }

   #button_two{
      position:fixed;
      bottom: 20px;
      right: 39%;
      display: none;
   }

   #button_three{
      position:fixed;
      bottom: 20px;
      right: 22%;
      display: none;
   }

/* utility */
.hide {
   display: none;
}
.show {
   display: block;
}

.display_at_startup {
   display: block;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }